# ignore these files
**/*.log

# these are the files from hydra
output/

# ignore wandb
wandb/

# ignore logs
logs/

# ignore cluster related files
cluster_related/

# Ignore Python bytecode
__pycache__/

*.pyc
*.pyo
*.pyd