# ignore these files
**/*.log

# these are the files from hydra
outputs/

output_hev/

# ignore wandb
wandb/

# ignore logs
logs/

# ignore cluster related files
cluster_related/

# Ignore Python bytecode
__pycache__/

*.pyc
*.pyo
*.pyd

*.json
*latent_visualize*

*.png

*.gif

*.diff

.wandb_secrets.sh

# ignore all checkpoint folders
**/checkpoints/
**/checkpoint/

# ignore dataset related files
data/datasets/*

models/weights/*