name: thesis
channels:
  - conda-forge
  - pytorch

dependencies:
  - python=3.10
  - pip
  - numpy
  - scipy
  - pandas
  - matplotlib
  - tqdm
  - pytorch
  - torchvision
  - pip:
      - opencv-python
      - scikit-image
